/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=============================
=            FONTS            =
=============================*/
/*-----  End of FONTS  ------*/
/*=============================================================
=            Media Queries            =
=============================================================*/
/*=============================================================
=            iPhone 5 & 5S Media Queries            =
=============================================================*/
/*----------  iPhone 5 & 5S in portrait & landscape  ----------*/
/*==============================================
=            iPhone 6 Media Queries            =
==============================================*/
/*----------  iPhone 6 in portrait & landscape  ----------*/
/*======================================================
=            Turn Off Number Input Spinners            =
======================================================*/
/*=====================================
=            Custom styles            =
=====================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
}
html,
body {
  color: #000;
  height: 100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
* {
  box-sizing: border-box;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #000;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #000;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #000;
}
input,
textarea,
button,
select {
  color: inherit;
  font: inherit;
}
.f_clear {
  height: auto;
}
.container {
  height: auto;
  width: 100%;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.content {
  width: 100%;
}
.btn {
  background-clip: padding-box;
  border-radius: none;
  border: none;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}
.btn[disabled] {
  background-color: gray;
}
.link:hover,
.link:focus {
  text-decoration: none;
}
/*-----  End of Custom styles  ------*/
/*==============================
=            HEADER            =
==============================*/
/*-----  End of HEADER  ------*/
/*==============================
=            FOOTER            =
==============================*/
/*-----  End of FOOTER  ------*/
