.main-slider {
	width: 100%;
	overflow: hidden;
	@media @mobile {
		background: url(../img/photos/main-slider-bg.jpg) no-repeat center;
		background-size: cover;
		padding-top: 23px;
	}
	@media @tablet {
		height: 409px;
		margin-top: 1px;
		position: relative;
		border-bottom: 4px solid @yellow;
	}
	@media @desktop {
		height: 409px;
		margin-top: 1px;
		position: relative;
		border-bottom: 4px solid @yellow;
	}
	&__inner {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__slide {
		width: 313px;
		height: 406px;
		&+& {
			margin-left: -150px;
		}
		&--1 {
			background: url(../img/photos/main-slider-item1.png) no-repeat;
		}
		&--2 {
			background: url(../img/photos/main-slider-item2.png) no-repeat;
		}
		&--3 {
			background: url(../img/photos/main-slider-item3.png) no-repeat;
		}
		&--4 {
			background: url(../img/photos/main-slider-item4.png) no-repeat;
		}
		&--5 {
			background: url(../img/photos/main-slider-item5.png) no-repeat;
		}
		&--6 {
			background: url(../img/photos/main-slider-item1.png) no-repeat;
		}
	}
}
.wrapper {
	&--slider {
		padding: 0;
	}
}
.offer-form {
	background-color: rgba(255,255,255,.8);
	@media @mobile {
		padding-bottom: 20px;
	}
	@media @tablet {
		position: absolute;
		left: 77px;
		top: 215px;
		width: 888px;
		height: 150px;
		transform: skewX(-16deg);
	}
	@media @desktop {
		position: absolute;
		left: 77px;
		top: 215px;
		width: 888px;
		height: 150px;
		transform: skewX(-16deg);
	}
	&__inner {
		@media @tablet {
			transform: skewX(16deg);
			padding-top: 29px;
			padding-bottom: 17px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		@media @desktop {
			transform: skewX(16deg);
			padding-top: 29px;
			padding-bottom: 17px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		text-transform: uppercase;
		@media @mobile {
			padding-top: 16px;
			text-align: center;
			font-size: 2.3rem;
			line-height: 2.8rem;
		}
		@media @tablet {
			padding-left: 40px;
			font-size: 3.5rem;
		}
		@media @desktop {
			padding-left: 40px;
			font-size: 3.5rem;
		}
	}
	&__description {
		color: #2b2a28;
		font-size: 1.6rem;
		text-transform: uppercase;
		@media @mobile {
			text-align: center;
			margin-top: 8px;
		}
		@media @tablet {
			margin-top: 13px;
			align-self: flex-start;
			padding-left: 33px;
		}
		@media @desktop {
			margin-top: 13px;
			align-self: flex-start;
			padding-left: 33px;
		}
	}
}
.offer {
	width: 100%;
	@media @mobile {
		margin-top: 20px;
		padding: 0 2.1875%;
	}
	@media @tablet {
		padding-left: 24px;
		padding-right: 74px;
		margin-top: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media @desktop {
		padding-left: 24px;
		padding-right: 74px;
		margin-top: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__input {
		width: 197px;
		height: 41px;
		background-color: #fff;
		border: 1px solid #4e5659;
		@media @mobile {
			width: 100%;
			margin-bottom: 6px;
		}
	}
	&__submit {
		padding: 0 42px;
		color: @brand;
		@media @mobile {
			background-color: #fea647;
			width: 100%;
			height: 41px;
			font-size: 2.5rem;
		}
	}
}
.addition-info {
	@media @mobile {
		display: none;
	}
	color: #fff;
	position: absolute;
	top: 376px;
	right: 80px;
	display: flex;
	&__text {
		margin-right: 4px;
	}
	&__link {
		color: inherit;
		text-decoration: underline;
		text-transform: uppercase;
		&:hover, &:focus {
		  text-decoration: none;
		}
	}
}
.addition-info-mobile {
	text-align: center;
	margin-bottom: 5px;
	@media @tablet {
		display: none;
	}
	@media @desktop {
		display: none;
	}
	&__text {
	}
	&__link {
		color: inherit;
		text-decoration: underline;
		text-transform: uppercase;
		&:hover, &:focus {
		  text-decoration: none;
		}
	}
}

.ri-grid {
	width: 240%;
	position: absolute;
	top: 0;
	left: -10%;
	height: auto;
	@media @mobile {
		display: none;
	}
}

.ri-grid ul li,
.ri-grid ul li a{
	width: 100px;
	height: 100px;
}
.ri-grid ul li a img {
	// width: 100%;
}
.ri-grid{

}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    display: flex;
    justify-content: flex-start;
    // transform: skewX(-40deg);
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	// float: left;
	position: relative;
	display: block;
	overflow: hidden;
	&:not(:last-child) {
		margin-right: -4%;
	}
	
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	background-size: 100% 100%;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: transparent;
	box-sizing: content-box;
}

.ri-grid-size-1{
	width: 100%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}


.ri-loading-image{
	display: none;
}

.ri-grid-loading .ri-loading-image{
	position: relative;
	width: 30px;
	height: 30px;
	left: 50%;
	margin: 100px 0 0 -15px;
	display: block;
}





